body {
    background-image: url(/assets/img/bg/bg-acc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h2 {
    font-weight: 600;
    color: #57402f;
}

#backtomain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
}

.logo-cont {
    background-image: url(/assets/img/bg/Simple\ Shiny2.svg);
    background-size: cover;
    background-position: center;
    height: 125px;

}

.logo-cont img {
    width: 100%;
    height: 70%;
}

.c-main {
    max-width: 500px;
}

.c-main2 {
    max-width: 580px;
}

.c-main3 {
    max-width: 700px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: opacity(0.6);
}

.warn {
    color: #57402f;
    font-size: 13px;
}

#form {
    width: 100%;
    background-color: white;
    height: fit-content;
}

#show-hide-btn,
#show-hide-btn-cf {
    background-color: #57402f;
    outline: none !important;
    display: flex;
}

#login, #register, #contact {
    padding: 12px 0px;
    background-image: url(/assets/img/bg/Simple\ Shiny.svg);
    background-size: cover;
    color: white;
    font-family: 'poppins';
    border-radius: 1px;
    font-weight: 600;
    transition: 0.3s all ease;
    border: 2px solid #3d2d21;
}

input:internal-autofill-selected {
    background: none !important;
}


#login:hover, #register:hover, #contact:hover {
    border-radius: 10px;
}

.form-control {
    border-color: #57402f;
    border-radius: 5px;
    color: #57402fea !important;
    transition: 0.1s all ease;
}

.form-control::placeholder {
    color: #57402fc8 !important;
}

.form-check-input:focus {
    border-color: #57402f;
    box-shadow: 0 0 0 0rem #54361f86;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #684d38c6;
    box-shadow: 0 0 0 0rem #54361f86;
}

.form-check-input:checked {
    background-color: #e57b24;
    border-color: #402e22;
    border: 1.3px solid #402e22;
}

.form-check-input {
    border: 1px solid #402e22;
    cursor: pointer;
    border-radius: 2px !important;
    transition: 0.1s all ease;
}

.acc-lbl {
    font-family: 'poppins';
    color: #57402f;
    font-weight: 500;
}

.form-check-label {
    font-size: 12px !important;
    margin-left: 5px;
    cursor: pointer;
}

.advise-rd {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.657);
}

.advise-rd a {
    color: #57402f !important;
}