@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url(../css/reset.css);
@import url(../css/mb-design.css);

:root {
    --font-logo: 'VT323', monospace;
    --font-logo2: 'DotGothic16', sans-serif;;
    --font-main: 'Inter', sans-serif;
    --color-primary: #202124;
    --color-secondary: #B20A00;
}

html {
    font-family: var(--font-main);

}

body {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    /* background-color: #121313; */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    height: 75px;
    background-color: #00000010;
    position: sticky;
    top: 0;
}

header #home {
    font-size: 44px;
    font-weight: 600;
    font-family: var(--font-logo);
    width: 35%;
}

header #home span {
    background: #FF0000;
    background: -webkit-linear-gradient(to bottom left, #FF0000 25%, #800505 100%);
    background: -moz-linear-gradient(to bottom left, #FF0000 25%, #800505 100%);
    background: linear-gradient(to bottom left, #FF0000 25%, #800505 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-logo);
    font-size: 42px;
}

header #navigation-dsk{
    display: flex;
    width: 65%;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-logo);
    font-size: 30px;
    font-weight: 600;
}

header #navigation-dsk li{

}