@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=VT323&display=swap');
@import url(../css/reset.css);
@import url(../css/mb-design.css);

:root {
    --font-logo: 'VT323', monospace;
    --font-body: 'Inter', sans-serif;
    --color-primary: #202124;
    --color-secondary: #B20A00;
}

body{
    max-width: 1400px;
    background: #202124;
}