@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url(../css/reset.css);
@import url(../css/mb-design.css);

:root {
    --font-logo: 'VT323', monospace;
    --font-logo2: 'DotGothic16', sans-serif;
    --font-main: 'Open Sans', sans-serif;
    --color-primary: #202124;
    --color-secondary: #c8231b;
    color-scheme: dark;
}

html {
    font-family: var(--font-main);

}

body {
    width: 100%;
    margin: 0 auto;
}



@media (min-height: 400px) {
    header {
        background-color: #d32222;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    height: 75px;
    background-color: #00000000; /* Transparente por defecto */
    position: sticky;
    top: 0;
    width: 100%;
    transition: 0.2s all ease;
}


nav {
    display: flex;
    width: 100%;
    max-width: 1500px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

header #home {
    font-size: 44px;
    font-weight: 600;
    font-family: var(--font-logo);
    width: 25%;
}

header #home span {
    background: #FF0000;
    background: -webkit-linear-gradient(to bottom left, #FF0000 25%, #800505 100%);
    background: -moz-linear-gradient(to bottom left, #FF0000 25%, #800505 100%);
    background: linear-gradient(to bottom left, #FF0000 25%, #800505 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-logo);
    font-size: 42px;
}

header #navigation-dsk {
    display: flex;
    width: 75%;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

header #navigation-dsk li {
    cursor: pointer;
}

header #navigation-dsk li a {
    display: grid;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s all ease;
    height: 80px;
    place-items: center;
    border-bottom: 4px #00000000 solid;
    position: relative;
    top: -3px;
    border-radius: 3px;
}

header #navigation-dsk li a:hover {
    border-bottom: 4px var(--color-secondary) solid;
    top: 0px;
}

header #navigation-dsk #switch-themes-dsk {
    display: grid;
    transition: 0.2s all ease;
    width: 25px;
    height: 70px;
    position: relative;
    border-bottom: 4px #00000000 solid;
    position: relative;
    top: -2px;
    cursor: pointer;
    stroke-width: 2;
}

#switch-themes-dsk:hover {
    transform: scale(1.15);
}

#theme-options {
    transform: scale(0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2px;
    position: absolute;
    background-color: #26262638;
    top: 75px;
    color: white;
    width: 130px;
    border-radius: 5px;
    transition: 0.2s all ease;
    border: solid 1px rgba(128, 128, 128, 0.186);
}


#theme-options .theme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 12px;
    transition: 0.2s all ease;
}

#theme-options .theme:hover {
    background-color: #202124;
}