#search-input::selection {
    background-color: #57402f !important;
    color: white !important;
}

#filters-tb {
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 0px;
}

.search-bar {
    display: flex;
    border: 1px solid #000001c9;
    border-radius: 25px;
    overflow: hidden;
    justify-content: space-between;
    background-color: white;
}

#search-input {
    border: none;
    padding: 10px;
    padding-left: 22px;
    outline: none;
    font-size: 14px;
    color: #000001c9 !important;
}

#search-button {
    background-color: #ffffff;
    color: #fff;
    border: none;
    padding: 0px;
    cursor: pointer;
    padding-right: 15px;
    width: auto;
}

.filters-dvs {
    margin: 0 auto;
    width: 93%;
    min-width: 260px;
}

.filter-btn {
    font-size: 18px;
    font-weight: 400;
}

.filter-btn img {
    width: 30px;
}

.filter-btn-act {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    width: fit-content !important;
}

#store-prods {
    height: fit-content;
    min-height: 300px;
}

#store-prods img {
    padding: 15px 0 10px 0;
}

.card-img-top {
    height: 290px;
    width: 100%;
    max-width: 265px;
    margin: 0 auto;
}

.p-image {
    height: 300px;
    padding: 10px 0 !important;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-image img {
    height: auto !important;
    max-width: 300px;
    padding: 0 4% !important;
}

#add-to-cart-modal #cart-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:768px) {
    .prod-card .card-img-top {
        max-width: 285px;
        height: 320px;
        margin: 0 auto;
        padding: 0 4% !important;
    }
}

.btn-close {
    background-image: url(/assets/img/icons/x.svg) !important;
    background-size: cover !important;
    box-shadow: none !important;
    margin-right: 5px !important
}

.btn-close:focus {
    box-shadow: none !important
}

#filters-offcanvas {
    color: white;
    z-index: 11111111111111111111;
}

#filters-offcanvas .offcanvas-title {
    font-size: 25px;
    font-weight: 400;
}

@media screen and (max-width:675px) {
    .filter-btn span {
        display: none;
    }

    .filter-btn img {
        width: 35px;
    }
}

.p-name {
    display: block;
    color: #72553f;
    font-weight: 900;
    width: 100%;
    font-size: 16px;
}

.p-brand {
    font-size: 14px;
    color: #e57b24;
    font-weight: 600;
}

.p-brand span {
    color: #5b4433 !important;
    font-weight: 400 !important;
    text-transform: uppercase;
}

#add-to-cart-modal {
    margin: 0;
    padding: 0;
    z-index: 8908;
}

#add-to-cart-modal .modal-fullscreen {
    width: 93%;
    max-width: none;
    height: fit-content;
    margin: 1.5% auto;
}

.p-price {
    display: block;
    width: 100%;
    margin-bottom: 7px;
    font-size: 14px;
    color: #000001be;
}

.add-cart,
.add-cart:focus,
.add-cart:focus-visible,
.add-cart:active {
    background-color: #6c503c !important;
    color: white !important;
    width: 100% !important;
    border: 2px solid #3c2c20 !important;
    border-radius: 10px;
    font-weight: 600 !important;
    transition: 0.2s all ease-in-out !important;
    gap: 5px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.add-cart:hover {
    background-color: #e57b24 !important;
    border: 2px solid #c0661d !important;
    color: white;
}

.add-cart img {
    width: 23px;
    height: 100%;
    position: relative;
    top: -3px;
}

.fixed-filters {
    position: fixed;
    height: fit-content;
    margin: 25px auto;
    margin-bottom: 0px;
    z-index: 1;
    background-color: #ffffffed;
    top: 0;
    margin-top: 0 !important;
    margin-bottom: 50px !important;
    border-bottom: 1px solid #acacac6f !important;
}

#add-to-cart-modal .close-cart {
    border-radius: 100000px;
    padding: 12px;
    height: 50px;
}

.close-cart-btn {
    border-radius: 10000px;
    padding: 0 0 !important;
}

#add-to-cart-modal .modal-header {
    background-size: cover;
    background-image: url(/assets/img/bg/Simple\ Shiny2.svg);
    background-position: center;
    border: 0 !important;
}

#add-to-cart-modal .modal-content {
    border-radius: 5px;
}

#add-to-cart-modal #cart-img-container img {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 375px;
    padding: 0px 7%;
}

#add-to-cart-modal #cart-img-container {
    margin-bottom: 20px;
}

@media screen and (min-width:769px) {
    #add-to-cart-modal #cart-img-container {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
}

.close-cart-cont {
    margin-top: 20px;
    position: relative;
    right: 30px;
}

.sec-title {
    font-size: 30px;
    font-weight: 600;
    color: #745742;
}

#cart-prod-brand b,
#cart-prod-price b {
    color: #e5740e;
    font-weight: 600;
}

.size-option {
    display: grid;
    place-items: center;
    text-align: center;
    width: 90px;
    height: 70px;
    background-color: #00000005;
    border: 1.3px solid #1515159a;
    border-radius: 10px;
    color: #151515;
    transition: 0.3s all ease;
    cursor: pointer;
    font-size: 13.5px;
}

.size-option:hover,
.size-selected {
    transition: 0.3s all ease;
    border-color: #ff7300;
    background-color: white;
}

.modal-footer {
    color: #000000be;
    background-image: url(/assets/img/bg/clouds.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px !important;
}

#prod-quantity {
    padding: 13px;
    text-align: center;
    width: 70px;
    height: 60px;
    transition: 0.4s all ease;
    border: 2px solid #6a6a6abd;
    outline: 0 !important;
    margin: 0 10px;
    border-radius: 10px;
}

#prod-quantity::-webkit-inner-spin-button,
#prod-quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input#prod-quantity:hover,
input#prod-quantity:focus,
input#prod-quantity:focus-visible {
    border: 2px solid #e5720e !important;
    outline: 0 !important;
}

.quantity-shop {
    gap: 50px;
    margin-bottom: 35px;
}

.quantity-shop .add {
    font-weight: 600;
}

.quantity-shop .q-cont {
    height: fit-content;
}

.mom {
    display: grid;
    width: 30px;
    height: 35px;
    place-items: center;
    font-size: 24px;
    color: #ff7900;
    font-weight: 600;
    cursor: pointer;
    background-color: #1515150f;
}

button#add-to-cart-btn {
    display: grid;
    background-color: #5b4330;
    place-items: center;
    gap: 5px;
    color: white;
    border: 3px solid #3c2c20;
    width: 250px;
    padding-top: 1px;
    font-weight: 600;
    padding-bottom: 1px;
    border-radius: 10px;
    height: 60px;
}

button#add-to-cart-btn:hover {
    border: 3px solid #c0600d;
    background-color: #e5740e;
}

button#add-to-cart-btn img {
    position: relative;
    top: -3px;
}

@media screen and (max-width:1180px) {
    .quantity-shop {
        flex-direction: column;
        margin-bottom: 5px;
        gap: 30px;
    }

    button#add-to-cart-btn {
        width: 100%;
    }
}

.succed {
    display: none;
}

.appear {
    animation: appear 0.3s ease-in-out;
    display: flex !important;
    opacity: 1;
}

.disappear {
    animation: disappear 0.1s ease-in-out;
    display: none;
}



@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#loader-add-cart {
    display: none;
}

#purchase-warn {
    display: flex;
    font-size: 13px;
    margin-top: 7px;
    font-weight: 300;
    color: red;
    letter-spacing: 0.4px;
    opacity: 0;
    transition: 0.3s all ease;
}

.show-warn {
    transition: 0.1s all ease;
    opacity: 1 !important;
}

.size-disabled {
    background-color: #00000044 !important;
    opacity: 0.6 !important;
    border: 1.3px solid #1515159a !important;
    cursor: not-allowed;
}

.filter-title {
    display: block;
    color: #654936;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: #00000022 1px solid;
    margin-bottom: 12px;
}

.opt-cont {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5d483a;
    margin-bottom: 5px;
    font-weight: 400;
}

.opt-input {
    display: flex;
    gap: 5px;
}

.opt-item {
    cursor: pointer;
    padding: 6px;
}

.choose {
    width: 18px;
}

.quantity-items {
    color: #eb7814;
}

#error-msg{
    display: none;
    height: fit-content;
    min-height: 400px;
    width: 100% !important;
    max-width: 650px !important;
    margin: 10px auto;
}

#error-msg img{
    height: 150px;
}

#error-msg p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #565656 !important;
}

#error-msg .btn{
    max-width: 250px !important;
    border: 2px;
    color: white;
    padding: 20px !important;
    font-weight: 500;
}

#btn-research{
    background-color: #5b4330;
    border: 2px solid #251f1a !important;
}

#btn-research:hover{
    background-color: #5b4330f6;
}

#btn-change-cat{
    background-color: #ff7300;
    border: 2px solid #ff6600 !important;
}

#btn-change-cat:hover{
    background-color: #f27107;
}