body{
    background-color: #202124;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header

#home{
    display: flex;
    height: 100px;
    width: 300px;
    justify-content: center;
    
}