@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

:root {
    --color-main: #0a3871;
    --font-main: 'Inter', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background-color: #f3f5fc;
}

body {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    font-family: var(--font-main);
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: start;
    align-items: center;
    padding: 10px 2%;
}

header img {
    height: 50px;
    width: auto;
}

#message textarea,
#msg-result textarea {
    resize: none;
    background-color: #00000000;
    line-height: 1.6em;
    font-weight: 500;
    font-size: 25px;
    width: 100%;
    border: 0;
    color: var(--color-main);
    font-family: var(--font-main);
    outline: 0;
    border-radius: 10px;
}

main {
    display: flex;
    gap: 25px;
    padding: 15px 30px;
}

#message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    width: 65%
}

#message #text-to-encrypt {
    width: 100%;
    border: none;
    height: 300px;
    padding: 0 30px;
}

#message #text-to-encrypt::placeholder {
    color: #0a3871;
    font-family: var(--font-main);
}

#message #warn-message {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    margin-top: 10px;
    padding: 0 25px;
}

#message #warn-message img {
    height: 22px;
}

#message #encrypt-or-decrypt-btns {
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main button {
    display: grid;
    padding: 20px;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    border: 2px solid var(--color-main);
    font-weight: 500;
    font-family: var(--font-main);
    color: var(--color-main);
    background-color: white;
}

#message #encrypt-or-decrypt-btns button {
    display: grid;
    width: 50%;
    transition: 0.3s all ease;
}

#message #encrypt-or-decrypt-btns #msg-encrypt {
    background-color: #0a3871;
    color: white;
    border: none;
}

#message #encrypt-or-decrypt-btns #msg-encrypt:hover {
    background-color: #0e51a3;
}

#message #encrypt-or-decrypt-btns #msg-decrypt {
    color: var(--color-main);
    background-color: white;
    border: none;
}

#message #encrypt-or-decrypt-btns #msg-decrypt:hover {
    background-color: #d03232;
    color: white;
}




#msg-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 30px;
    position: relative;
    bottom: 85px;
    border-radius: 20px;
    min-height: 530px;
    width: 35%;
}

#msg-result #error-msg {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;

}

#msg-result #error-msg img {
    display: grid;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}

#msg-result #error-msg #error-text {
    font-weight: bolder;
    font-size: 23px;
    line-height: 1.3em;
    max-width: 18ch;
    color: var(--color-main);


}

#msg-result #error-msg #error-recomendation {
    line-height: 1.3em;
    max-width: 30ch;
    font-size: 16px;
}

#msg-result #error-msg b {
    cursor: pointer;
    transition: 0.2s all ease;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#msg-result #error-msg b:hover {
    color: var(--color-main);
}

#msg-result #copy-to-clipboard{
    width: 100%;
}



#msg-result .encrypt-success {
    display: none;
}

@media screen and (max-width:800px) {
    header {
        padding: 10px 1%;
    }

    main {
        flex-direction: column;
        padding: 10px 20px;
        margin-bottom: 100px;
    }

    main section {
        width: 100% !important;
    }

    #msg-result {
        bottom: 0;
        top: 20px;
    }

    #message #encrypt-or-decrypt-btns {
        flex-direction: column;
    }

    #message #encrypt-or-decrypt-btns button {
        width: 100%;
    }
}